<template name="HomePublic">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> HomePublicHomeJumbotron}}
	</div>
</template>

<template name="HomePublicHomeJumbotron">
	<div class="jumbotron ">
		<div class="container">
			<div class="pull-left">
				<h1 id="component-title">
					The Shell!
				</h1>
				<p id="jumbotron-text">
					This is an example <a href="meteor.com">Meteor</a> application. We call it the <b>Shell</b>. This is meant to be a boilerplate for all applications that will be made by <b><a href="">BigFoot Labs</a></b> in the near future. This "shell" is specific to the need of multiplayer roleplaying strategy games. This is an ongoing development effort and when finished will include integrations with Facebook API, and inbuilt chat system and private messaging amongs other things.
				</p>
				<p id="jumbotron-button">
					<a href="" class="btn btn-primary btn-lg" role="button">
						Continue &raquo;
					</a>
				</p>
			</div>
		</div>
	</div>
</template>
